header
{
  text-align: center;
}
img{
  display: block;
  margin: auto;
}
nav a {
  padding-left: 10px;
padding-right: 10px;
background-color: bisque;
}
figcaption{
  text-align: center;
  
}
#featured-property{
  width: 800px;
  text-align: center;
}
#details div {
float: left;
background-color: red;
width: 25%;
}